.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: 600px;
  margin: 10px;
  padding: 10px;
  background-color: rgb(60, 60, 60);
  padding-bottom: 40px;
}

.form h1 {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
}

.formwrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 400px;
  padding: 10px;
}

label {
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.form input {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: rgb(60, 60, 60);
  color: white;
  font-size: 12px;
  border-radius: 10px;
  border-style: none;
  border: .5px solid white;
  outline: none;
}

::placeholder {
  color: white;
  font-style: italic;
}

button {
  margin:auto;
  background-color: rgb(60, 60, 60);
  align-items: center;
  height: 30px;
  width:150px;
  margin-top: 20px;
  border-style: none;
  border: .5px solid white;
  color: white;
  font-size: 14px;
  outline: none;
}

.form .err {
  color: red;
}

h2 {
  font-size: 30px;
}
